body{
    display: grid;
    grid-template-columns: 1fr;
  
    grid-template-areas: 
          "container"
          "header"
          "main"
          "klok1"
          "klok2"
          "klok3"
          "raket"; 
  }

  .container{
    grid-area: container;
  }
  .header{
    grid-area: header;
  }

  .main{
    grid-area: main;
  }

  .klok1{
    grid-area: klok1;
  }

  .klok2{
    grid-area: klok2;
  }

  .klok3{
    grid-area: klok3;
  }

  .raket{
    grid-area: raket;
  }

  @media only screen and (min-width: 601px){
    body{
      display: grid;
          grid-template-columns: 1fr 1fr ;
          grid-gap: 10px;
          grid-template-areas: 
          "container container"
          "header header"
          "main main"
          "klok1 klok2"
          "klok3 klok3"
          "raket raket"; 
    }

    /* aside{
      float: left;
      display:block;
    } */
    .container{
      height: 100vh;
    }
  }

    @media only screen and (min-width: 901px){
        body{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr ;
          grid-gap: 10px;
          grid-template-areas: 
          "container container container"
          "header header header"
          "main main main"
          "klok1 klok2 klok3"
          "raket raket raket"; 
        }

        .container{
          height: 100vh;
      }

      /* aside{
        float:left;
        align-items: center;
      } */
    }

      @media only screen and (min-width: 1201px){
         body{
            /* display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "container container container container"
            "header header header header"
            "main main main main"
            "klok1 klok1 klok2 klok3"
            "raket raket raket raket"; 
            } */

            .container{
              height: 100vh;
          }

          /* aside{
            float:left;
            display:block;
          } */
        }