/* body{
    display: grid;
    grid-template-columns: 1fr;
  
    grid-template-areas: 
          /* "container" */
          /* "header"
          "main"
          "klok1"
          "klok2"
          "klok3"
          "raket"; 
  } */ */

  /* .container{
    grid-area: container;
  } */
  /* .header{
    grid-area: header;
  }

  .main{
    grid-area: main;
  }

  .klok1{
    grid-area: klok1;
  }

  .klok2{
    grid-area: klok2;
  }

  .klok3{
    grid-area: klok3;
  }

  .raket{
    grid-area: raket;
  } */

  @media only screen and (min-width: 601px){
    


    .container{
      height: 100vh;
    }

    aside{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

    @media only screen and (min-width: 901px){
        header > img{
          margin-top: -700px;
        }

        .container{
          height: 100vh;
      }

      aside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

      @media only screen and (min-width: 1201px){
       .container{
          height: 100vh;
         }

         aside{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }

        header > img{
          margin-top: -575px;
        }
       }