*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header > img{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 10px;
    display: flex;
    margin-top: -600px;
}

#clock{  
    font-family: 'robotoregular';
    font-size: 0.94em;
    color:darkblue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }
 
 #clock2{
    font-family: 'robotoregular';
    font-size: 0.94em;
    color:darkblue ;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }

 #clock3{
    font-family: 'robotoregular';
    font-size: 0.94em;
    color: darkblue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
 }

.dag{
    background-image: url(dag.jpg);
    background-size: cover;
 }

.nacht{
   background-image: url(nacht.jpg);
   background-size: cover;
}

.container{
    height: 100vh;
}

aside{
    background-color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px solid darkblue;
    border-radius: 10px;
    width: 130px;
    box-shadow: 5px 5px darkcyan;
    text-align: center;
    margin-top: 25px;
    height: 60px;
}

div > img{
    display: flex;
    width: 110px;
    padding: 10px;
    margin: auto;
    margin-top: -100px;
}

#raket {
	position: absolute;
	top: 10px;
	left: 10px;
	animation: 1000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% { 
  	top: 500px; 
  }
  100% { 
  	top: 530px;
  }
}